
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron-custom">
    <div class="container">
        <div class="row jumbotron-content-wrapper">
            <div class="col-md-6">
                <div class="jumbotron-slogon">
                    <div class="slogon-title">
                        <h1 class="title-h1">Getting Money </h1>
                    </div>
                    <div class="sub-slogon">
                        <h4 class="title-h4">is now as easy as spending </h4>
                    </div>
                    <div class="button_wrap">
                        <a class="style-button style-button-invert" href="#">
                            <span>How it works?</span>
                        </a>
                    </div>
                    <div class="button_wrap">
                        <a class="style-button" href="#">
                            <span>Why PayDay loans</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="main-form-wrapper">
                    <div class="main-form-info-wrapper">
                        <div class="main-form_text">
                            <div class="form-question">
                                <h2 class="title-h2">How much do you need?</h2>
                            </div>
                            <div class="form-question-rectification">
                                <h5 class="title-h5">You could get up to $1000!*</h5>
                            </div>
                            @using (Html.BeginForm("LoanForm", "Home", FormMethod.Get))
                            {
                                <p>Loan Amount: </p>
                                @Html.DropDownList("Amount",new SelectList(new int[] { 100, 200, 300, 400,500,600,700,800,900,1000 }), htmlAttributes: new { @class = "form-item" })
                                <p>Enter Your Email: :</p>
                                @Html.TextBox("Email", "", htmlAttributes: new { @class = "form-item" })
                                <input class="style-button form-btn" type="submit" value="Get started" />
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container offers-block">
    <div class="row">
        <div class="col-md-4">
            <figure class="offers-item">
                <div class="offers-img-wrapper">
                    <img src="~/Content/images/offer2.png" />
                </div>
                <figcaption class="offers-title">Risk-Free</figcaption>
                <div class="figure-text">Cum sociis natoque penatibus et magnis. Pro vel nibh et elit mollis commodo et nec</div>
                <div class="offer-link-wrapper">
                    <a class="offer-link" href="#">HOW IT WORKS?</a>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="offers-item">
                <div class="offers-img-wrapper">
                    <img src="~/Content/images/offer1.png" />
                </div>
                <figcaption class="offers-title">Quick Money</figcaption>
                <div class="figure-text">Cum sociis natoque penatibus et magnis. Pro vel nibh et elit mollis commodo et nec</div>

            </figure>
        </div>
        <div class="col-md-4">
            <figure class="offers-item">
                <div class="offers-img-wrapper">
                    <img src="~/Content/images/offer3.png" />
                </div>
                <figcaption class="offers-title">It’s Fast and Secure</figcaption>
                <div class="figure-text">Cum sociis natoque penatibus et magnis. Pro vel nibh et elit mollis commodo et nec</div>
                <div class="offer-link-wrapper">
                    <a class="offer-link" href="#">Read our policies</a>
                </div>
            </figure>
        </div>
    </div>
</div>

<div class="parallax get-money-step-block triangle blue-triangle">

    <div class="parallax__layer">
        <div>
            <h1 class="title-h1">Get money right now!</h1>
        </div>
        <div class="get-money-block-slogon">within 15 minutes</div>
        <div class="container">
            <figure class="row">
                <div class="col-md-6">
                    <img src="~/Content/images/get-now-img.png" />
                </div>
                <figcaption class="col-md-6">
                    <h2 class="title-h2"> Fill in an application form on our website </h2>
                    <div class="get-text">Make a request on our website and wait for response to e-mail within 15-30 minutes from the time of the request during business hours.</div>
                    <a class="style-button style-button-invert white-hover-button">Go to the form</a>
                </figcaption>

            </figure>
        </div>
    </div>
</div>
<div class="parallax speed-convenience-step-block triangle white-triangle">

    <div class="parallax__layer">
        <div class="container">
            <figure class="row">
                <figcaption class="col-md-6">
                    <h2 class="title-h2"> Speed &amp; Convenience </h2>
                    <div class="get-text">We can rapidly connect you with a lender. After submitting all the information we require, you may be redirected to a specific lender's website to review the terms of the loan, and if accepted, the funds will be deposited directly into your bank account. Subject to lender approval.</div>
                    <a class="style-button style-button-invert">Go to the form</a>
                </figcaption>
                <div class="col-md-6">
                    <img src="~/Content/images/get-now-img3.png" />
                </div>
            </figure>
        </div>
    </div>
</div>
<div class="parallax how-it-works-step-block">

    <div class="parallax__layer">
        <div class="container">
            <figure class="row">
                <div class="col-md-6">
                    <img src="~/Content/images/get-now-img2.png" />
                </div>
                <figcaption class="col-md-6">
                    <h2 class="title-h2"> Receiving the loan money</h2>
                    <div class="get-text">Once the lender approves your loan and you accept the loan terms, your loan will be deposited directly in your bank account, usually as soon as the next day.</div>
                    <a class="style-button white-hover-button">How it works?</a>
                </figcaption>

            </figure>
        </div>
    </div>
</div>
<div class="parallax how-it-works-block" id="how-it-works">
    <div class="parallax__layer">
        <div class="container">
            <figure class="row">
                <div class="col-md-12">
                    <h2 class="title-h2 underline-text"> How it Works ? </h2>
                    <div class="get-text">Requesting a personal loan is easy with @ViewBag.SiteAddress. Fill out one easy form on @ViewBag.SiteAddress and your inquiry will be submitted to our large network of lenders. Loan amounts range from $100 to $5,000 (exact amounts vary based on lender programs and your state of residence). You can have a response from one of our lenders the same day, and often within minutes. Once your loan is approved, you will be redirected to the lender's website where you can review the terms of the loan, including details about all the applicable rates and fees. If you accept these terms, the lender will deposit money directly into your bank account as quickly as the next day. Most lenders have the following requirements to be approved:</div>
                    <h3 class="title-h3"> <span class="emphasized-text">To be accepted by most lenders</span> in our network, you should:</h3>
                </div>
                <div class="col-md-6">
                    <ul class="how-it-works-list">
                        <li>
                            <i class="fa fa-check"></i>
                            <h5 class="title-h5">you are 18 or older</h5>
                            <div class="list-item-desc">The minimun age to use our service is 18</div>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <h5 class="title-h5">you are a us Resident</h5>
                            <div class="list-item-desc">Be a US citizen or a permanent resident</div>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <h5 class="title-h5">Be employed for at least 90 days</h5>
                            <div class="list-item-desc">Be employed at your present job for at least 90 days.</div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="how-it-works-list">
                        <li>
                            <i class="fa fa-check"></i>
                            <h5 class="title-h5">you have a regular income</h5>
                            <div class="list-item-desc">Have an income of around $1,000 per month after tax deductions</div>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <h5 class="title-h5">you have a Bank Account</h5>
                            <div class="list-item-desc">Have a checking account in your name</div>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <h5 class="title-h5">you have a valid telephone number and email address</h5>
                            <div class="list-item-desc">Provide a working telephone number for your home and work. And provide a valid email address</div>
                        </li>
                    </ul>
                </div>


            </figure>
        </div>
    </div>
</div>
<div class="container qa-block" >
    <div class="row">
        <h2 class="title-h2">Frequently Asked Questions</h2>
        <div class="col-md-6">
            <figure class="qa-item">
                <i class="fa fa-question"></i>
                <figcaption class="qa-title"><span class="underline-text">How will I receive the loan money?</span></figcaption>
                <div class="qa-text">Once the lender approves your loan and you accept the loan terms, your loan will be deposited directly in your bank account, usually as soon as the next day.</div>
            </figure>
        </div>
        <div class="col-md-6">
            <figure class="qa-item">
                <i class="fa fa-question"></i>
                <figcaption class="qa-title">What is a personal loan?</figcaption>
                <div class="qa-text">We are committed to connecting you with an approved lender. We also make the process simple. No need to visit a number of websites or fill out large amounts of paperwork.</div>
            </figure>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <figure class="qa-item">
                <i class="fa fa-question"></i>
                <figcaption class="qa-title">How much can I borrow?</figcaption>
                <div class="qa-text">The amount a lender is willing to loan depends on them evaluating a number of factors, including your home state and applicable legal restrictions (loans are not available in all states). Many of the lenders in our network will loan between $100 and $5,000.</div>
            </figure>
        </div>
        <div class="col-md-6">
            <figure class="qa-item">
                <i class="fa fa-question"></i>
                <figcaption class="qa-title">Who can qualify for a personal loan?</figcaption>
                <div class="qa-text">Our online service allows you to connect directly with the lender you need. The process only takes a few minutes. Fill out our secure online form and we then send an encrypted copy to an authorized lender to approve. Once you submit your information, you will be redirected to the lender's website where you can review the loan’s terms, including details of all the applicable fees and rates. If you accept these terms, the lender will deposit money directly into your bank account as quickly as the next business day.</div>
            </figure>
        </div>
    </div>
</div>
<div class="parallax rates-fees-block" id="rates-fees">
    <div class="parallax__layer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title-h2 underline-text"> Rates &amp; Fees </h2>
                    <div class="get-text">
                        <p>@ViewBag.SiteAddress’s service is always free. The rates and fees applicable to your loan will be set by your lender @ViewBag.SiteAddress is not a lender and does not provide lending services directly to consumers. @ViewBag.SiteAddress uses the information you submit to quickly and conveniently connect you with a lender. </p>
                        <h5 class="title-h5">Full Disclosure of Terms </h5>
                        <p>The Truth in Lending Act requires full disclosure of all loan fees and interest rates. Your lender should disclose all fees and rates to you before you accept your loan. If you accept the loan terms, most lenders will direct you to an e-signature page to complete the loan process. Please take the time to read your loan agreement before accepting and signing it. </p>
                        <h5 class="title-h5">Late Payment Policy</h5>
                        <p>Lenders may have different policies regarding late payments. Review the late payment policy detailed in your loan agreement before signing. All lenders must abide by applicable laws, rules, and regulations regarding late payment fees.</p>
                        <h5 class="title-h5">Non-payment Policy </h5>
                        <p>Additional fees or charges may apply in the event that you are unable to repay your loan. @ViewBag.SiteAddress tries to work with reputable lenders dedicated to using lawful, fair and reasonable means to pursue collections of overdue accounts. </p>
                        <h5 class="title-h5">Loan Renewal Policy </h5>
                        <p>Loan renewal policies are largely governed by state law. In states where renewals are allowed, additional interest and late fees can add substantial to your final loan amount, so these should be avoided whenever possible. Read the lender’s terms in considering renewal options before signing the loan agreement. </p>
                        <p class="note-text">* Please note that this list is for informational purposes only, is not intended to be legal advice, and may not be accurate or up to date at all times. If you have a specific question about laws or regulations applicable to you, please ask your lender directly or consult a legal adviser. Some states do not have any lending statutory provisions pertaining to personal loans.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container policy-block" id="lending-policy">
    <div class="row">
        <h2 class="title-h2">Policy on Responsible Lending</h2>
        <div class="col-md-12">
            <div class="policy-item">
                
                <div class="get-text">
                    <p>@ViewBag.SiteAddress wants consumers to be educated, make smart financial decisions, and to be protected from malicious personal consumer lenders and other unsavory businesses that engage in unlawful and unethical lending practices. </p>
                    <h5 class="title-h5"><span class="underline-text">Trust and Truth </span></h5>
                    <p>@ViewBag.SiteAddress's policies and practices conform to applicable provisions of fair lending laws like the Truth in Lending Act. Before a consumer enters into a loan agreement, the lender should provide you in writing (this can be electronically) with the exact fees, rates, charges, roll over charges and other details. Visit the Rates and Fees section of this website to learn about current regulations and laws in your state. </p>
                    <h5 class="title-h5"><span class="underline-text">Fair Lending</span></h5>
                    <p>The Dodd-Frank Wall Street Reform Act states that all lenders must engage in "fair lending" practices. The Consumer Financial Protection Bureau enforces fair lending rules and regulations. </p>
                    <h5 class="title-h5"><span class="underline-text">Practices for Fair Debt Collection </span></h5>
                    <p>@ViewBag.SiteAddress is committed to working with lenders that obey the Fair Debt Collection Practices Act. @ViewBag.SiteAddress is not the lender or debt collector. Lenders in our network are required to avoid the following practices: </p>
                    <ul class="light-background-list">
                        <li>Calling consumers on their telephone prior to 8 a.m. or after 9 p.m. (or as otherwise regulated by specific state laws).</li>
                        <li>Calling consumers with the malicious intent of harassing, or annoying or even using abusive language.</li>
                        <li>Using misrepresentation and deception for debt collection purposes.</li>
                        <li>Threatening with legal recourse or criminal charges even though no such action is allowed.</li>
                    </ul>
                    <p>@ViewBag.SiteAddress will not do business with lenders that intentionally and repeatedly violate the Fair Debt Collection Practices Act. </p>
                    <h5 class="title-h5"><span class="underline-text">Current State Regulations </span></h5>
                    <p>@ViewBag.SiteAddress encourages lenders to follow applicable federal and state regulations. This includes conformity with local laws regarding interest rates, maximum loan terms, rollover limits, fees, cooling-off periods in between loans, and other loan terms. Lenders that are an extension of a federally recognized Indian Tribe act as independent sovereign nations and may not be required to follow local laws regarding rates, fees and other loan terms, although such lenders conform to federal lending laws including the Truth in Lending Act.</p>
                </div>
            </div>
        </div>
    </div>
</div>



