
@{
    ViewBag.Title = "Desclaimer";
}
<div class="jumbotron-custom jumbotron-custom-disclaimer">
    <div class="container">
        <div class="row jumbotron-content-wrapper">
            <div class="col-md-12">
                <div class="slogon-title">
                    <h1 class="title-h1">Desclaimer</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container policy-block">
    <div class="row">
        <div class="col-md-12">
            <div class="policy-item">
                <div class="get-text">
                    <p>@ViewBag.SiteAddress is not a lender and does not make loans or credit decisions. @ViewBag.SiteAddress provides a matching service only and is not acting as a representative, agent, or correspondent for any service provider or lender. @ViewBag.SiteAddress does not endorse any particular service provider, lender, or loan product. You are under no obligation to use @ViewBag.SiteAddress’s service to initiate contact with, apply for credit from, or accept any loan product from any service provider or lender. This service is not available in all states. </p>
                    <p>There is no fee for you to submit a loan request at @ViewBag.SiteAddress. @ViewBag.SiteAddress is not a lender and does not provide lending services. Based on the information you submit, @ViewBag.SiteAddress will search its vast network of authorized lenders in order to match you with a lender that may be able to serve your needs. </p>
                    <p>If your loan request is accepted by a lender, you will be redirected to an e-signature page on the lender’s website. All fees and rate information charged by the lender should be disclosed to you at that time. You should carefully and thoroughly review the fees and rate information provided by the lender before agreeing to the terms of the loan or signing any documents. You are under no obligation to accept the terms. </p>
                    <p>If you decide the loan terms provided by the lender are acceptable and wish to proceed, you may e-signature the document evidencing your agreement with those terms. Upon signing, you will enter into a legally binding contract with the lender and will be responsible for all costs and risks associated with the contract. Your contractual obligations are to the lender, and not to @ViewBag.SiteAddress. Please remember that the loan fees and interest rates you agree to are determined solely by the lender and not @ViewBag.SiteAddress. </p>
                    <p>Cash advances (including payday loans) are intended as short-term financial relief and are not long-term financial solutions. Consumers facing debt and credit difficulties should seek out debt and credit advisory help. You are encouraged to consult the Rates and Fees page of this website to learn more about the risks involved with cash advances. You also should review local laws and regulations governing cash advances and explore possible alternatives to a short term loan. </p>
                    <p>@ViewBag.SiteAddress is not available in all states. @ViewBag.SiteAddress specifically does not offer or solicit cash advances in Arizona, Arkansas, Georgia, Massachusetts, New York, Pennsylvania, West Virginia, Virginia, Ohio or in other states where prohibited by law. Prohibited states may change at any time and without notice to you. As between you and @ViewBag.SiteAddress, all such interaction is deemed to have taken place in the state of California regardless of where you access the website. </p>
                    <p>@ViewBag.SiteAddress does not guarantee that your loan request will be accepted by an authorized lender or other service provider. If you are offered a loan, @ViewBag.SiteAddress does not guarantee that the fees and rates will be acceptable to you or that your loan will be funded. All decisions relating to your loan are the lenders’ decisions, not @ViewBag.SiteAddress’s. </p>
                    <p>In most cases, lenders and other service providers will not require credit scores from the three major credit reporting bureaus (Experian, Equifax, and TransUnion). Most lenders and other service providers will perform credit checks through alternative providers such as Teletrack, DP Bureau or others. These types of non-traditional credit checks usually will not affect your credit score. By submitting your loan request, you consent to the use of alternative credit checks by @ViewBag.SiteAddress, its network of lenders and their service providers. </p>
                </div>
            </div>
        </div>
    </div>
</div>