
@{
    ViewBag.Title = "Privacy Policy";
}
<div class="jumbotron-custom jumbotron-custom-policy">
    <div class="container">
        <div class="row jumbotron-content-wrapper">
            <div class="col-md-12">
                <div class="slogon-title">
                    <h1 class="title-h1">Privacy Policy</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container privacy-policy-block">
    <div class="row">
        <div class="col-md-12">
            <table class="privacy-table">
                <tbody>
                <tr>
                    <th>
                        <strong>FACTS</strong>
                    </th>
                    <td>
                        WHAT DOES
                       @ViewBag.SiteAddress
                        (dba
                       @ViewBag.SiteAddress
                        ) DO WITH YOUR PERSONAL INFORMATION?
                    </td>
                </tr>
                <tr>
                    <th>
                        <strong>Why?</strong>
                    </th>
                    <td> Financial companies choose how they share your personal information. Federal law gives consumers the right to limit some but not all sharing. Federal law also requires us to tell you how we collect, share, and protect your personal information. Please read this notice carefully to understand what we do. </td>
                </tr>
                <tr>
                    <th>
                        <strong>What?</strong>
                    </th>
                    <td>
                        The types of personal information we collect and share depend on the product or service you have with us. This information can include:
                     
                    </td>
                </tr>
                <tr>
                    <th>
                        <strong>How?</strong>
                    </th>
                    <td>
                        All financial companies need to share customers’ personal information to run their everyday business. In the section below, we list the reasons financial companies can share their customers’ personal information; the reasons
                        @ViewBag.SiteAddress
                        chooses to share; and whether you can limit this sharing.
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="privacy-table">
                <tbody>
                <tr>
                    <th>
                        Reasons we can share your personal information
                    </th>
                    <th>
                        Does @ViewBag.SiteAddress share?
                    </th>
                    <th>
                        Can you limit this sharing?
                    </th>
                </tr>
                <tr>
                    <td>
                        <strong>For our everyday business purposes</strong> &ndash;  such as to process your transactions, maintain your account(s), respond to court orders and legal investigations, or report to credit bureaus
                    </td>
                    <td>
                        Yes
                    </td>
                    <td>
                        No
                    </td>
                </tr>
                <tr>
                    <td><strong>For our marketing purposes</strong> &ndash; to offer our products and services to you</td>
                    <td>
                        Yes
                    </td>
                    <td>
                        No
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>For joint marketing with other financial companies</strong>
                    </td>
                    <td>
                        Yes
                    </td>
                    <td>
                        No
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>For our affiliates’ everyday business purposes</strong> &ndash; information about your transactions and experiences
                    </td>
                    <td>
                        Yes
                    </td>
                    <td>
                        No
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>For our affiliates’ everyday business purposes</strong> &ndash; information about your creditworthiness
                    </td>
                    <td>
                        Yes
                    </td>
                    <td>
                        Yes
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>For our affiliates to market to you</strong>
                    </td>
                    <td>
                        Yes
                    </td>
                    <td>
                        Yes
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>For nonaffiliates to market to you</strong>
                    </td>
                    <td>
                        Yes
                    </td>
                    <td>
                        Yes
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="rates-table privacy-table">
                <tbody>
                    <tr>
                        <th>To limit our sharing</th>
                        <td>
                            <ul>
                                @*<li>Call <a href="tel:+18669717538">866-971-7538</a> and our menu will prompt you through your choice(s) or</li>*@ @*TODO Check if it needed*@
                                <li>Visit us online: @ViewBag.SiteAddress</li>
                            </ul>
                            <strong>Please note:</strong>
                            <p>If you are a new customer, we can begin sharing your information 30 days from the date we sent this notice. When you are no longer our customer, we continue to share your information as described in this notice.</p>
                            <p>However, you can contact us at any time to limit our sharing as noted above.</p>
                        </td>
                    </tr>
                    <tr>
                        <th>Questions?</th>
                        <td>@*Call <a href="tel:+18669717538">866-971-7538</a> or write us at Springates Building, Lower Government Road, Charlestown, Nevis, Saint Kitts And Nevis.*@</td> @*TODO Check how us this line*@ 
                    </tr>
                </tbody>
            </table>
            
            <table class="privacy-table">
                <tbody>
                    <tr>
                        <th colspan="2">
                            Who are we
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Who is providing this notice?
                        </td>
                        <td>
                           @ViewBag.SiteAddress
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            What do we do
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <strong>How does @ViewBag.SiteAddress protect my personal information?</strong>
                        </td>
                        <td>
                            To protect your personal information from unauthorized access and use, we use security measures that comply with federal law.  These measures include computer safeguards and secured files and buildings.
                        </td>
                    </tr>
                    <tr>
                        <td><strong>How does @ViewBag.SiteAddress collect my personal information?</strong></td>
                        <td>
                            We collect your personal information, for example, when you
                            <ul>
                                <li>Submit a loan request</li>
                                <li>Provide your contact information</li>
                                <li>Request help obtaining a loan</li>
                            </ul>
                            <span class="hidden-part">We also collect your personal information from others, such as credit bureaus, affiliates, or other companies.</span>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Why can’t I limit all sharing?</strong></td>
                        <td>
                            Federal law gives you the right to limit only
                            <ul>
                                <li>Sharing for affiliates’ everyday business purposes &ndash; information about your creditworthiness</li>
                                <li>Affiliates from using your information to market you</li>
                                <li>Sharing for nonaffiliates to market you</li>
                            </ul>
                            State laws and individual companies may give you additional rights to limit sharing.
                        </td>
                    </tr>
                    <tr>
                        <td><strong>What happens when I limit sharing for an account I hold jointly with someone else?</strong></td>
                        <td>Your choices will apply to everyone on your account.</td>
                    </tr>
                    <tr>
                        <th colspan="2">Definitions</th>
                    </tr>
                    <tr>
                        <td><strong>Affiliates</strong></td>
                        <td>Companies related by common ownership or control.  They can be financial and nonfinancial companies.</td>
                    </tr>
                    <tr>
                        <td><strong>Nonaffiliates</strong></td>
                        <td>Companies not related by common ownership or control.  They can be financial and nonfinancial companies.</td>
                    </tr>
                    <tr>
                        <td><strong>Joint Marketing</strong></td>
                        <td>A formal agreement between nonaffiliated financial companies that together market financial products or services to you.</td>
                    </tr>
                </tbody>
            </table>
            
            <table class="rates-table privacy-table">
                <tbody>
                    <tr>
                        <th>Other important information</th>
                    </tr>
                    <tr>
                        <td>
                            <p>Material changes to this Privacy Policy will be posted here and are deemed effective upon posting and without additional notice to you. We do not maintain a process for consumers to review and request changes to any personally identifiable information that is collected here.</p>
                            <p><strong>Vermont residents:</strong> We will not disclose information about you with affiliates or non-affiliated, third party companies or financial institutions, other than as required or permitted by law, without your express permission.</p>
                            <p><strong>California residents:</strong> We will not share information we collect about you with affiliated or non-affiliated third parties, except in the limited circumstances permitted under state law, or if you give us your permission (i.e., via a request form). Also please note that in order to provide better services to consumers, when we receive a Do Not Track signal, we may ignore such signals. Other parties may collect personally identifiable information about an individual consumer’s online activities over time and across different web sites when a consumer uses our website or service.</p>
                            <p><strong>North Dakota residents:</strong> We will not disclose information about you with non-affiliated, third party companies or financial institutions, other than as required or permitted by law, without your express permission.</p>
                            <p><strong>Nevada residents:</strong> If you would like more information regarding this notice or Nevada’s law regarding corporate do-not-call registries, you can contact us at the toll-free number or address included in this notice or the Bureau of Consumer Protection, Office of the Nevada Attorney General at 555 E. Washington Street, Suite 3900, Las Vegas, Nevada 89101; Phone: (702)486-3132; Email: BCPINFO@ag.state.nv.us.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            

        </div>
    </div>
</div>