
@{
    ViewBag.Title = "Terms of Use";
}
<div class="jumbotron-custom jumbotron-custom-termsofuse ">
    <div class="container">
        <div class="row jumbotron-content-wrapper">
            <div class="col-md-12">
                <div class="slogon-title">
                    <h1 class="title-h1">Terms of Use</h1>
                </div>
                <div class="sub-slogon">
                    <h4 class="title-h4">is now as easy as spending </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container policy-block" >
    <div class="row">
        <div class="col-md-12">
            <div class="policy-item">
                <div class="get-text">
                    <p>@ViewBag.SiteAddress ( “@ViewBag.SiteAddress“ or “we” or “our”), owns and operates the website located at @ViewBag.SiteAddress (the “Site”). @ViewBag.SiteAddress provides and maintains this Site for your information, conditioned on your acceptance, without modification, of the terms, conditions and notices contained in these Terms of Use. By accessing and using the Site, you accept and agree without limitation to the following: </p>
                    <h5 class="title-h5"><span class="underline-text">PRODUCTS AND SERVICES </span></h5>
                    <p>@ViewBag.SiteAddress is not a lender and is responsible for any lending product advertised or offered to you. All products or services advertised here or offered to you are the sole responsibility of their respective lenders or service providers. </p>
                    <h5 class="title-h5"><span class="underline-text">ESIGN CONSENT </span></h5>
                    <p>You agree that clicking “Get Cash Now” (or other such button presented to you to submit your loan request) acts as your electronic signature. You further consent that we and any lender we share your request with can communicate with you electronically and that any required disclosures may be provided to you electronically, including without limitation any notices of adverse action that a lender might send to you. You also confirm that you have the ability to access documents electronically, including the ability to view and save PDF files. </p>
                    <h5 class="title-h5"><span class="underline-text">LOAN REQUEST ACCEPTANCE POLICY </span></h5>
                    <p>@ViewBag.SiteAddress reserves the right at any time after receipt of your loan request to accept or reject your request for any reason. @ViewBag.SiteAddress may require additional information or verification before your loan request is accepted. When your loan request is accepted, you will be matched with a lender for further consideration based on the lender’s policies and procedures, but it does not mean your loan request has been approved. Loan approval is solely the lender’s decision. @ViewBag.SiteAddress is not responsible for loan requests that are rejected or for a lender’s decision not to fund a loan. </p>
                    <h5 class="title-h5"><span class="underline-text">CREDIT REFERENCES</span></h5>
                    <p>You agree and expressly authorize the third party lender you are matched with to share among its affiliates, loan servicers, and bank partners any transaction history related to your financial products or services received or serviced through the third party lender or other service providers for the purpose of evaluating you for credit. </p>
                    <h5 class="title-h5"><span class="underline-text">RESTRICTIONS </span></h5>
                    <p>You must be 18 years or older and a legal resident of the United States to submit a loan request. You agree not to use this Site or any content contained in it for any illegal or inappropriate activities. </p>
                    <h5 class="title-h5"><span class="underline-text">COMPLIANCE WITH LAWS </span></h5>
                    <p>You agree to comply with all applicable laws, statutes, ordinances and regulations regarding your use of the Site and your acceptance or purchase of products or services through this Site’s third party vendors. @ViewBag.SiteAddress may, in its sole discretion, report actual or perceived violations of law to law enforcement or other authorities. If @ViewBag.SiteAddress becomes aware of any potential or suspected violation of these Terms of Use or its Privacy Policy, @ViewBag.SiteAddress may (but is not obligated to) conduct an investigation to determine the nature and extent of the suspected violation and the appropriate enforcement action. During such investigation, @ViewBag.SiteAddress may suspend services to any customer being investigated and may delete data from @ViewBag.SiteAddress’s servers in order to prevent or minimize further violations. You agree to cooperate fully with any such investigation. You acknowledge that violating the Terms of Use or Privacy Policy could subject you to criminal or civil penalties. </p>
                    <h5 class="title-h5"><span class="underline-text">INTELLECTUAL PROPERTY</span></h5>
                    <p>The trademarks, titles, characters, trade names, graphics, designs and other properties, including all software, text and images appearing on this Site is the intellectual property of @ViewBag.SiteAddress, its licensees, or other third parties who have authorized use of such properties on the Site.</p>
                    <p>You have permission to view and make copies of documents, pages, images or other materials or content on this site for the sole purposes of requesting a loan. @ViewBag.SiteAddress reserves all other rights in this Site and its contents. You may not distribute, display, transmit or disseminate any documents, pages, images, materials or content without @ViewBag.SiteAddress’s prior written consent. Nothing contained on this Site should be construed as conferring any right or license to any trademark, copyright or other intellectual property right. </p>
                    <h5 class="title-h5"><span class="underline-text">LIMITATION OF LIABILITY AND DISCLAIMER OF WARRANTIES </span></h5>
                    <p>@ViewBag.SiteAddress uses commercially reasonable efforts to ensure that the information on this Site is accurate but accuracy is not guaranteed. @ViewBag.SiteAddress makes no representations regarding your use of this Site or results that you may or may not obtain through such use. </p>
                    <h5 class="title-h5"><span class="underline-text">NEITHER @ViewBag.SiteAddress NOR ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING OR DELIVERING THIS SITE SHALL BE LIABLE FOR ANY DIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, INDIRECT OR PUNITIVE DAMAGES ARISING OUT OF YOUR ACCESS TO, OR USE OF, THIS SITE. EVERYTHING ON THIS SITE IS PROVIDED “AS IS” AND WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. THESE EXCLUSIONS AND LIMITATIONS ARE APPLIED TO THE FULLEST EXTENT PERMITTED BY LAW. </span></h5>
                    <h5 class="title-h5"><span class="underline-text">THIRD PARTY CONTENT</span></h5>
                    <p>This Site may contain links to websites maintained by third parties. @ViewBag.SiteAddress is not responsible for the content or privacy policies of third party websites, and the existence of such links should not be considered an endorsement or recommendation of those websites, the product or service offered or any third parties associated with those websites. </p>
                    <h5 class="title-h5"><span class="underline-text">PRIVACY </span></h5>
                    <p>@ViewBag.SiteAddress’s Privacy Policy, which is incorporated herein by reference, is applicable to any data supplied through this Site. The Privacy Policy sets out your rights and @ViewBag.SiteAddress’s responsibilities regarding your personal information. @ViewBag.SiteAddress will not use your information in any way inconsistent with the purposes and limitations provided in the Privacy Policy. @ViewBag.SiteAddress reserves the right, in its sole discretion, to modify the Privacy Policy without prior notice to you. Modifications to the Privacy Policy are effective when posted and your continued use of this Site signifies your acceptance of such modifications. </p>
                    <h5 class="title-h5"><span class="underline-text">SECURITY </span></h5>
                    <p>@ViewBag.SiteAddress uses secure technology to protect your personal information. Although @ViewBag.SiteAddress takes commercially reasonable measures to secure your personal information submitted through this Site, @ViewBag.SiteAddress cannot guarantee that your information will not be intercepted or decrypted by others. So long as @ViewBag.SiteAddress uses commercially reasonable security measures, it accepts no responsibility for such interception or decryption except as required by law. </p>
                    <h5 class="title-h5"><span class="underline-text">SITE USE</span></h5>
                    <p>@ViewBag.SiteAddress does not charge you any fees for your use of this Site. @ViewBag.SiteAddress is not (1) your agent, (2) the agent of any solicitor or issuer of consumer loans or (3) the agent of any supplier or vendor used in the evaluation of your loan request or other use of this Site. @ViewBag.SiteAddress may receive compensation from lenders and other third parties in exchange for goods or services offered to such parties that may or may not relate to your use of this Site. </p>
                    <h5 class="title-h5"><span class="underline-text">LAW AND VENUE</span></h5>
                    <p>By using this Site or engaging with @ViewBag.SiteAddress in any way, you consent to the laws and jurisdiction of the state of Nevada. These Terms of Use and the Privacy Policy also will be governed by and construed in accordance with the laws of the state of Nevada, without regard to conflict of law provisions. Any legal action brought against @ViewBag.SiteAddress (which must be via binding arbitration as set forth below) will be governed by the laws of the state of Nevada and you agree that the sole jurisdiction and venue for disputes resolution will be in Clark County, Nevada. </p>
                    <h5 class="title-h5"><span class="underline-text">BINDING ARBITRATION</span></h5>
                    <p>Should any dispute arise as to the interpretation of any term or provision of these Terms of Use or with regard to any of your dealings @ViewBag.SiteAddress or with any lender you borrow from as a result of @ViewBag.SiteAddress’s service, those issues shall be decided by binding arbitration. Arbitration proceeding shall be conducted under the applicable rules of the American Arbitration Association or JAMS in Clark County, Nevada. The decision of the arbitrator shall be final and binding on both parties. The prevailing party shall be entitled to recover the cost of arbitration, travel expenses, expert testimony, travel expenses of experts, and all other expenses reasonably incurred in bringing or defending an arbitration claim, from the other party unless otherwise prohibited by law. </p>
                    <h5 class="title-h5"><span class="underline-text">MODIFICATION </span></h5>
                    <p>@ViewBag.SiteAddress reserves the right to modify these Terms of Use from time to time and without notice to you. Your use of this Site after such modification constitutes your acceptance of and agreement to any new or amended terms. </p>
                    <h5 class="title-h5"><span class="underline-text">INDEMNIFICATION </span></h5>
                    <p>By using this Site, you agree to indemnify, defend and hold harmless @ViewBag.SiteAddress, its subsidiaries, affiliates, officers, agents and other partners and employees, from any loss, liability, claim or demand, including reasonable attorneys’ fees, made by any third party due to or arising out of your use or attempted use of the Site. </p>
                    <h5 class="title-h5"><span class="underline-text">VIOLATION OF THE TERMS OF USE </span></h5>
                    <p>By using the Site, you understand and agree that @ViewBag.SiteAddress in its sole discretion and without prior notice may terminate your access to this Site and to any services offered, and may remove any content you have provided if @ViewBag.SiteAddress believes that such content violates or is inconsistent with these Terms of Use or the Privacy Policy or their intent, or that such content may be disruptive, offensive or in violation of applicable laws. </p>
                    <h5 class="title-h5"><span class="underline-text">CLASS ACTION WAIVER </span></h5>
                    <h5 class="title-h5"><span class="underline-text">ANY PROCEEDINGS TO RESOLVE, LITIGATE OR ARBITRATE ANY DISPUTE IN ANY FORUM WILL BE CONDUCTED SOLELY ON AN INDIVIDUAL BASIS. NEITHER YOU NOR @ViewBag.SiteAddress WILL SEEK TO HAVE ANY DISPUTE HEARD AS A CLASS ACTION, PRIVATE ATTORNEY GENERAL ACTION, OR IN ANY OTHER PROCEEDING IN WHICH EITHER PARTY ACTS OR PROPOSES TO ACT IN A REPRESENTATIVE CAPACITY. NO ARBITRATION OR PROCEEDING WILL BE COMBINED WITH ANOTHER WITHOUT THE PRIOR WRITTEN CONSENT OF ALL PARTIES TO ALL AFFECTED ARBITRATIONS OR PROCEEDINGS. FURTHERMORE, YOU AGREE THAT YOU WILL NOT SEEK TO HAVE ANY DISPUTE AGAINST ANY LENDER TO WHOM YOU ARE REFERRED HEARD AS A CLASS ACTION, PRIVATE ATTORNEY GENERAL ACTION, OR IN ANY OTHER PROCEEDING IN WHICH EITHER PARTY ACTS OR PROPOSES TO ACT IN A REPRESENTATIVE CAPACITY. </span></h5>
                    <h5 class="title-h5"><span class="underline-text">MISCELLANEOUS </span></h5>
                    <p>All rights not expressly granted to you are reserved to @ViewBag.SiteAddress. The headings used in these Terms of Use are intended for convenience only, and shall not affect the construction and interpretation thereof. @ViewBag.SiteAddress’s failure to insist upon or enforce strict performance of any provision of the Terms of Use shall not be construed as a waiver of such or any future provision or right. If any provision of these Terms of Use is held to be invalid or unenforceable, such determination shall not affect such provision in any other respect or any other provision of these Terms of Use, which shall remain in full force and effect. These Terms of Use and the Privacy Policy constitute the entire agreement and understanding between the parties with respect to the subject matter contained herein and supersedes and replaces any and all prior written or oral agreements related to the subject matter hereof. </p>
                    <h5 class="title-h5"><span class="underline-text">CONTACT INFORMATION:</span></h5>
                    <p>Email Address: @ViewBag.SupportEmailAddress </p>
                    <h5 class="title-h5"><span class="underline-text">INFORMATION FOR ISPs: </span></h5>
                    <p>Website: www.@ViewBag.SiteAddress <br />Email Address: @ViewBag.SupportEmailAddress </p>
                    <h5 class="title-h5"><span class="underline-text">PLEASE NOTE THAT FOR QUESTIONS PERTAINING TO YOUR LOAN APPLICATION STATUS, YOU MUST CONTACT YOUR LENDER DIRECTLY. @ViewBag.SiteAddress IS NOT YOUR LENDER AND CANNOT ACCESS INFORMATION ABOUT YOUR LOAN APPROVAL OR STATUS.</span></h5>
                    <p>Notice and Take Down Procedures</p>
                    <p>If you believe any materials accessible on or from the Site infringe your copyright or other intellectual property, you may request removal of those materials (or access thereto) from the Site by contacting our copyright agent (identified below) and providing the following information: </p>
                    <ul>
                        <li><span class="emphasized-text">1</span> Identification of the copyrighted work that you believe to be infringed. Please describe the work, and where possible include a copy or the location (for example, the URL) of an authorized version of the work.</li>
                        <li><span class="emphasized-text">2</span> Identification of the material that you believe to be infringing and its location. Please describe the material, and provide a URL or any other pertinent information that will allow location of the material.</li>
                        <li><span class="emphasized-text">3</span> Your name, address, telephone number and email address.</li>
                        <li><span class="emphasized-text">4</span> A statement that in good faith you believe the complained of use of the materials is not allowed by the copyright owner, its agent, or the law.</li>
                        <li><span class="emphasized-text">5</span> A statement that your submission is accurate and that "under penalty of perjury" you are the copyright owner or the owner’s authorized agent.</li>
                        <li><span class="emphasized-text">6</span> A signature or the electronic equivalent from the copyright holder or authorized agent.
</ul>
                    <p>Send the above information to: </p>
                    <p>Legal Department<br/>Email Address: Legal@@ViewBag.SiteAddress </p>
                    <p>For all email submissions please include the subject line: DMCA Takedown Request.</p>
                </div>
            </div>
        </div>
    </div>
</div>



@*<div class="container lending-policy-block" id="lending-policy">
    <div class="row">
        <h2 class="title-h2">Terms of Use</h2>
        <div class="col-md-12">
            <div class="lending-policy-item">

                <div class="get-text">
                    <p>@ViewBag.SiteAddress(“@ViewBag.SiteAddress” or “we” or “our”), owns and operates the website located at @ViewBag.SiteAddress (the “Site”). @ViewBag.SiteAddress provides and maintains this Site for your information, conditioned on your acceptance, without modification, of the terms, conditions and notices contained in these Terms of Use. By accessing and using the Site, you accept and agree without limitation to the following: </p>
                    <h5 class="title-h5"><span class="underline-text"></span></h5>
                    <p></p>
                    <h5 class="title-h5"><span class="underline-text"></span></h5>
                    <p></p>
                    <h5 class="title-h5"><span class="underline-text"></span></h5>
                    <p></p>

                    <p></p>
                    <h5 class="title-h5"><span class="underline-text"></span></h5>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>*@